#product-overview {
    background-color: lavender; 
    color: mediumslateblue;
    font-family: 'Lato', sans-serif;;
}

#plans {
    background-color: lightpink;
}

.section-title {
    color: orchid;
}